*{
    font-family: Cambria;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.top-buffer {
    margin-top: 30px;
}

.top-buffer-max {
    margin-top: 50px;
}

footer{
    color: white;
}